* {
  margin: 0;
  padding: 0;
}

body {
  margin: 20px auto;
  font-family: "Times New Roman", Times, serif;
  background-image: url(./slike/bg_chat.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

form label {
  font-size: 1.5rem;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: white;
  background: #c62828;
  padding: 4px 8px;
  border-radius: 4px;
  font-weight: bold;
}

a:hover {
  color: red;
  background: white;
}

#wrapper,
#loginform {
  background: gray;
  min-width: 150px;
  width: 95%;
  height: 100%;
  min-height: 100vh;
  border: 2px solid #212121;
  border-radius: 4px;
  margin: 0 auto;

}

#loginform {
  padding-top: 18px;
  text-align: center;
}

#loginform p {
  padding: 15px 25px;
  font-size: 1.4rem;
  font-weight: bold;
}

#chatbox {
  text-align: left;
  margin: 0 auto;
  padding: 10px;
  background: white;
  min-width: 150px;
  width: 95%;
  height: 100%;
  min-height: 100vh;
  border: 1px solid #a7a7a7;
  overflow: auto;
  border-radius: 4px;
  border-bottom: 4px solid #a7a7a7;
}

.message {
  text-align: left;
  margin: 0 auto;
  padding: 10px;
  background: white;
  min-width: 150px;
  width: 95%;
  border: 1px solid #a7a7a7;
  overflow: auto;
  border-radius: 4px;
  border-bottom: 4px solid #a7a7a7;
}

#usermsg {
  flex: 1;
  border-radius: 4px;
  border: 1px solid white;
  min-width: 150px;
  width: 90%;
  height: 45px;
}

#name {
  border-radius: 4px;
  border: 1px solid white;
  padding: 2px 8px;
}

#submitmsg,
#enter {
  background: red;
  border: 2px solid white;
  color: white;
  padding: 4px 10px;
  font-weight: bold;
  border-radius: 4px;
  float: right;
  height: 45px;
}

#menu {
  display: flex;
}

#menu p.welcome {
  flex: 1;
}

.msgln {
  margin: 0 0 5px 0;
}

.msgln span.chat-time {
  color: #666;
  font-size: 60%;
  vertical-align: super;
}

.msgln b.user-name,
.msgln b.user-name-left {
  font-weight: bold;
  background: #546e7a;
  color: white;
  padding: 2px 4px;
  font-size: 90%;
  border-radius: 4px;
  margin: 0 5px 0 0;
}

.msgln b.user-name-left {
  background: red;
}

.msgln b.user-name,
.msgln b.user-name-joined {
  font-weight: bold;
  background: #546e7a;
  color: white;
  padding: 2px 4px;
  font-size: 90%;
  border-radius: 4px;
  margin: 0 5px 0 0;
}

.msgln b.user-name-joined {
    background: green;
  }


#div-game-teams{
  width: 200px;
}

#div-game-control{
  width: 200px;
}

.td-field{
  background-color: black;
}

.table-play-area-2{
  background-color: aqua;
}